@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@plugin "daisyui";

.bg-eat{
    background-color: #f0ad4e;
}

@font-face {
    font-family: "NunitoBold";
    src: url(../../public/fonts/Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: "AvenirSemiBold";
    src: url(../../public/fonts/AvenirLTProBook.otf);
}

@font-face {
    font-family: "NunitoRegular";
    src: url(../../public/fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: "Montsera";
    src: url(../../public/fonts/Montserrat-ExtraLight.ttf);
}

.text-NunitoBold{
     font-family: "NunitoBold";
}
.text-NunitoRegular{
     font-family: "NunitoRegular";
}
.text-Monsera{
      font-family: "Montsera";
}
.text-Avenir{
    font-family: "AvenirSemiBold";
}




.activeLink {
    position: relative;
    padding-bottom: 6px;
    font-weight: bold;
    color: gainsboro;

    &::after {
        content: "";
        height: 1px;
        width: 0;
        background: rgb(169, 176, 180);
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;
    }

}


@keyframes anim {
    to {
        width: 100%;
    }
}

.modal-view{
    filter: blur(10px);
    opacity: 0.3;
    filter: brightness(15px);
    pointer-events: none;
}